.container {
  padding: 0 2rem;
}

.main {
  width: 100%;
  max-width: 1100px;
  height: auto;
  margin: 17px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-container {
  order: 1;
  width: 100%;
  max-width: 750px;
}
.main-container-content-article-small {
  margin-bottom: 13px;
  width: 100%;
  height: 52px;

  background: #F5B350;
  color: black;
  text-align: center;
  font-size: 30px;
}

.main-container-content-article-small p{
  margin: auto;
  padding: 4px;
  display: flex;
  justify-content: center;
}

.main-container-content {
  text-align: center;
  margin-bottom: 13px;
  padding: 2px 20px 30px;
  width: 750px;
  color: black;
  background-color: #E7D0C0;
  min-height: 540px;
}

.about {
  font-size: 1.3em;
}
.poster{
  position: relative;
  width: 100%;
  min-height: 800px;
}

.image {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: contain;
}

.title {
  background-image: linear-gradient(to right, rgba(245, 179, 80), rgba(255,0,0,0));
  color: black;
}

.right-container {
  order: 3;
  width: 100%;
  max-width: 315px;
}

.right-container-content-article-small {
  margin-bottom: 13px;
  width: 315px;
  height: 52px;

  background: #F5B350;
  color: black;
  text-align: center;
  font-size: 30px;
}

.right-container-content-article-small p{
  margin: auto;
  padding: 4px;
  display: flex;
  justify-content: center;
}

.right-container-content-search input {
  margin-bottom: 13px;
  width: 315px;
  height: 33px;
}

.right-container-content-calendar {
  margin-bottom: 13px;
  width: 315px;
  height: 540px;
  background-color: #E7D0C0;
}

.right-container-title {
  margin: auto;
}
